.classpath
.gradle
.project
.settings
eclipsebin

bin
gen
build
out
lib
reports

.idea
*.iml
classes

# Mkdocs files
docs/1.x/*
docs/changelog.md
docs/contributing.md
docs/index.md
docs/kotlinpoet_metadata.md
docs/kotlinpoet_metadata_specs.md

obj

.DS_Store
