language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer # Updates JDK 8 to the latest available.

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "Sm5meWQWB7eGJzxpEG5yKMQU7KGICpSx/FIl+heUr6RywJsGySfG/g4yXTV/3xvd6DsNwNe4RJomyMwwttn7vf27X9bHv8epvPJUEWrFKKiGZzBeL8PQehD60Z6lYt+HSl/kZMeeoNgubYcWHSf9enoW7svmqRd9Io7g8DMvrFye281DIqggX/Ndxs3dI6NONO78rtMMxc2YaG2dOTmt+QrtPYKyPTY9th8dOyouwvo/rPrOCgjJZCgyuStBIm/EBMzBxBD5h7ymDFXvf/TbrcMuRpyNOB+oHPZ8h/NHqadsw2MeuAffDM+dupY3dnZwiBKMxC+IHYF0VF29blLzOgJ+YpmACIXUqiNp+lhL1vXFDMxo+4PlW2gxOj1ZHRkcWk2aT1EntP1UjAjguJiiiZtups3UQCIIEpR3g8JRdwZrl6jHohMi/d9cmvnvYx15JLQ4qBJIgOMXePGrrGewz7yJEZ3nEZ7iEq4mFOCFRR3j0H6v2lixFTko1LCaSLxqHzcWH/Xf+1ZCXk2cCIGlaTsLLnEJUzPdS3FbpkRevGBCMP8F0B9YFH5kXxfFw1dbZN3zR7TfTQL5NbVixug2wSty0WwHeH+Ftxa7hiII5KOC9+46hi2itCpkE3ZsKY78IvYm+Oi57XDcYlp9nzr823LxyXi32Qcqm2oBHwRkUPM="
    - secure: "pY9F3Sok02yIWlhrN4YURS80f+Cpy6Sw6CeO1I3Wkh7IzSN/Rr48lB8p84J1T9ChX1wF1G9RN6F68YJ3OD70A25nqPP6sb1WfNtJfAPKFB6pGUOT5CBHdcLjHgWR6ZX42szJ8CxG7NjwKs4PC+l5YF+ozU/v2Uv6Vvyy4ANAnzsPm4CIYjpPyiEgXXPOHGFbacp7SLy0BHbAWfqTzK4QzIAO+rUDrVieIdPe3UVZS7jwwM40xFXC3QRy6SSnPTHZcv5pnDfk35mBm8rGn/0HfuWVhQoXh4+I4RhF34qodlQ52FU0uUGSib+xfu06NMeQRDM7DeEXuaUeO4D/Pkn7WVvQLlegEEUrmc1FNuaTswJF6axhDZiUOl+YhWlcptSildrD8W+m92kTpRaN522itAQyq5+0xGPpJi62OCxjJoEpk+1aRncauAgQpW0hf0OBj21AbmzBrZvj5FZ97eV48L+k67hPR03SSbSkog0xGMiFNtz6iDo4fnNmHw0ymdXNKcC6cGc+vgE8WD07ivfCgmFEt8mcfc46xj9+e7IEX/rTeROzD8ZlKl5kDyYFobCqCNd4wSikLd3Pwgf6+PuGzg19JIfDxgrOt9NQH2XxZGq9M4PiHtW8XrgKKdMOHhrnTZbnRezMyMEvOo5ktv75veYfrE5Jnr3nPMgI+aST5rs="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.m2
