language: java

jdk:
  - openjdk8
  - openjdk11

script:
  - ./gradlew clean build

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "AvxsisH0qPCrxFmr4QR6uXCwcThzRqbrLQcNpZa8Nyf/6ZY/5ja4pewkATxMbjBF+9f+Qd2zWHi6cUcMTPRADs5EMbBa5BDrTMd+rmrhIQeEZnEfMn0u2u3pdCANRmGVrDM8u9OnQW7KficswvUJ68B74NbBoBx5rlbwMitnWqggrwid8+EPGlzGnlg69QdI3xSGlr3Ip7iROMjWFQyEw33PFJLRrtJsXbWXhia4QHRUuL7mI5fPgZpzHODo9rPIG7/+8/aVV9ckn0e27RngBJ7jMUWq+VmG8zQyg194TtlK2Adp/6qQwxp8Kj8JAlOVpypuQ8n8gLlH8M4+DqvMx7CJjOHasrHygAD79i+bSk1p/AZC1s4MgFHJeBqUs68YfvMtfXkuzKA3fnSiMNsJqqtVt1MmP4MZI1te1wyEdgh+Wnh5xYcr+ZE4/9SNhrifOVaQoO1aCC9x3GzJOLN6RnopzlE+jeygtKym0uNWG3tdK3CvxZeIEUwOZt8GP9C649/hwcw9t5lUDGdKvnurWu8tY/ro48yi97vfWIt0acfpX3NnCvKQVblv4MFXLqeRJW1BsNHQ2E/tEjpn3n3ZtMm8rW6nlS/wCAaSY4XNYYdW275kEqli52ytPUIrx9cRNAe68qe+ps3Qej/Kw26QoXvGs+2zci2GxMXLoMPJmxs="
    - secure: "iQmIhSdrS99jeBTCzvX54cMn7jgNOBLyIg8SfOTaZ4mAGAI4++OtXhCnEFJu4fZpOGQZ2U+3MD0EJ/DUiep4pTiP6wu5RUxnf9vFauqetqB7NaHMF5pf8WRBLm4hcyI0GmGYVq4ZHqDJfsNrR1898/Vg44bQL0Q9BP614Svwt+u4zEWyWdVmHgMpdEuXylM8V7FjlwipbhQFEHyOVk5g6FsW1/JQuJUs3Eub74Qp1TIzYUPR1Uubd2TgFOjdxThFekqaXCNJMeBen4AbkrPy9+p8mCb5XwG3I760HnkCLtxOK6FOkgGCpW4OP4R7JxJIeBEvCCOr2cavqrvRyRQMJrLOz10huUiv7A+geAq4GtYT2ngc4ZXUk3+XenooLLSxGUKJ1QbQU5Y8Y8BuCuR7zdkNz3d5WX24kKpYlfpOMzhlafP7gK9dVE3U7KEjCUSZ+/Dube36JRpIKCcLVFFo5RoDc2haspd12KIe+IUr1hRK/0Haymc94HySUJR3SG3L6cR13peTBRraCibyH7uMLfTrSoi4h5Fm0LisNDhOmidD/2cf6zgUuyPV4xyx7O1izzaBjojjxFQyrQZcwTbEl4C2YeVNVo8V2G79ZPxGGsbg2S3NNPi+5YV2VA7YhRfew6YzGVfVb+d2v2Uircz7nBYFeXi5IIwcN7+R4vB+RdM="

branches:
  except:
    - gh-pages

notifications:
  email: false

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
