name: Build

permissions:
  contents: read

on:
  push:
    branches-ignore:
      - main
    tags-ignore:
      - '**'
  pull_request:

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  jvm:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version-file: .github/workflows/.java-version

      - name: Full build
        if: matrix.os == 'ubuntu-latest'
        run: ./gradlew build

      - name: KotlinPoet check
        if: "matrix.os != 'ubuntu-latest'"
        run: ./gradlew :kotlinpoet:check

  build-docs:
    runs-on: ubuntu-latest
    if: github.repository == 'square/kotlinpoet'

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version-file: .github/workflows/.java-version

      - name: Prep docs
        run: ./gradlew dokkaGeneratePublicationHtml

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Build mkdocs
        run: |
          pip3 install -r .github/workflows/mkdocs-requirements.txt
          mkdocs build
